@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

.fixed-button{

        position:fixed;
        top:93%;
        right:1%;
}

.logo{
        left:2%;
}

.directory{
        right:2%
}

.login-logo{
        text-align:center;
        padding-bottom:2em;
}

